<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Brolix</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css.map">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="header">
            <img src="images/logo.png" style="width: 100px;height: 60px;float: left;margin-left: 20px">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs nav-tabs-inverse nav-justified nav-justified-mobile" data-sortable-id="index-2">
                <!-- <li class="first" ng-class="{'active':header=='Manage User'}" ng-if="user.indexOf('ManageUser')>-1"><a ng-href="#header/manageUsers">Manage Users</a> -->
                <li class="tabs">
                    <a href="#!/users">Users</a>
                </li>
                <!-- <li class="first" ng-class="{'active':header=='Manage User'}" ng-if="user.indexOf('ManageUser')>-1"><a ng-href="#header/manageUsers">Manage Users</a> -->
                <li class="tabs" >
                    <a href="#!/pages">Pages</a>
                </li>
                <li class="tabs" >
                    <a href="#!/ads">Ads</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="tabs" ng-style="myStyle" ng-controller="loginCtrl">

<ul class="nav navbar-nav side-nav">
    <li class="prodata">
        <div class="profile-img">
            <div class="left-img">
                <img src="http://res.cloudinary.com/dfrspfd4g/image/upload/v1503549944/jfkrhpoqqaqkrbvw27st.png">
            </div>
            <div class="rightdes">
               <!-- <h3 class="title-s">Welcome</h3>
                <div class="ng-binding">Shubham</div>
                <div class="logout">
                    <a style="cursor:pointer;" ng-click="logout()">Logout</a>
                </div>-->
            </div>
        </div>
    </li>
    <li>
        <a style="cursor:pointer;"href="#!/addUser" >ADD USER</a>
    </li>
    <!--  <li>
         <a>BLOCK USER</a>
     </li>
     <li>
         <a> CREATE REPORT</a>
     </li>  -->
</ul>
</div>
    <div ng-view id="view"></div>

<!--
  <div>Angular seed app: v<span app-version></span></div>
-->

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/material-angular-paging/build/dist.min.js"></script>
<script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="js/flip_box.js"></script>
<script src="users/usersCtrl.js"></script>
<script src="ads/adsCtrl.js"></script>
<script src="pages/pagesCtrl.js"></script>
<script SRC="addUser/addUserCtrl.js"></script>
<script src="login/loginCtrl.js"></script>
<script src="js/dataService.js"></script>
</body>
</html>
